################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/问卷调查/bin/Debug
/问卷调查/obj/Debug
/.vs/问卷调查/v16/Server/sqlite3
